/* These style changes are common to both frontend and admin panel */
:root {
    --rpcolor: #2C98DE;
}

.btn-primary {
    background-color: var(--rpcolor) !important;
    color: black !important;
    /*border-color: white !important;*/
}

.btn-shadow-2 {
    color: #fff;
    background: #2C98DE;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    outline: none;
}

.btn-shadow-3 {
    color: #fff;
    background: #2C98DE;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,.325);
    outline: none;
}

.btn-shadow-5 {
    color: #fff;
    background: #2C98DE;
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    outline: none;
}

/*Custom Switch*/
/* The switch - the box around the slider */
.custom-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.custom-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.custom-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.custom-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .custom-slider {
    background-color: #2196F3;
}

input:focus + .custom-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .custom-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.custom-slider.round {
    border-radius: 34px;
}

.custom-slider.round:before {
    border-radius: 50%;
}

.required:after{content:" *";color: red;}


/*day-night switch*/

.switch .checkbox {
    opacity: 0;
    position: absolute;
  }

    .switch .label {
    width: 46px;
    height: 22px;
    background-color:var(--primary);
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    margin-bottom: 0px;
  }

  .switch  .ball {
    width: 18px;
    height: 18px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

  /*  target the elemenent after the label*/
  .switch .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }

  .switch .fa-moon {
    color: var(--primary);
    position: absolute;
    z-index: 99;
    right: 5px;
    font-size: 12px;
  }

  .switch .fa-sun {
    color: var(--primary);
    position: absolute;
    z-index: 99;
    left: 5px;
    font-size: 12px;
  }
  .theme-dark .switch label{
      background-color: var(--theme-dark-light-grey);
      color: var(--primary);
  }
  .theme-dark .switch .ball{
      background-color: var(--theme-dark-dark-grey);
      color: var(--primary);
  }
  .theme-dark .switch .fa-sun{
      color: var(--theme-dark-light-grey);
  }
  .theme-dark .switch .fa-moon{
      color: var(--light-text);
  }
@media only screen and (max-width : 767px){
    .switch{
        width: 100px;
        margin:auto;
        position: absolute;
        top: 18px;
        left: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
    }
}

.custom-scroll-bar::-webkit-scrollbar {
    width: 5px;
}
.custom-scroll-bar::-webkit-scrollbar-track {
    background: transparent;
    padding: 20px 0;
}
.custom-scroll-bar::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 20px;
    padding: 20px 0;
}
.custom-scroll-bar::-webkit-scrollbar-button {
    display: none;
}
